# dependencies
/node_modules
/.pnp
.pnp.js

# production
/build
/dist

# IDE/editor specific files
.vscode/
.idea/
*.suo
*.ntvs*

# build logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Typescript specific
*.tsbuildinfo

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Jest testing framework
/coverage

# Next.js specific
/.next/

# Storybook
/.storybook/

# Cypress specific
/cypress/videos/
/cypress/screenshots/

# Code quality
.eslintcache
